body {
    /*background-color: #ebebeb;*/
}
.error-border {
    border: 1px solid red;
}
.login-form-container.bg-white {
    max-width: 25rem;
    padding: 20px;
    margin: 5rem auto;
    height: 26.3rem;
    box-shadow: -1px 7px 15px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 7px 15px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 7px 15px -9px rgba(0,0,0,0.75);
    border-radius: 30px;
}
.form-group span {
    position: absolute;
    font-size: 12px;
    bottom: -16px;
}
.form-group {
    position: relative;
}

.login-form-logo {
    max-height: 80px;
    margin-bottom: 5px;
}

.login-form-title {
    font-size: 15px;
}

.header-form {
    margin-bottom: 5px;
}
